<!-- Begin BidVertiser code -->
    <SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=686804&bid=1714895" type="text/javascript"></SCRIPT>
<!-- End BidVertiser code -->
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center panel-transparent">
		<div class="panel panel-default no-padding-bottom ">
                <div class="panel-body panel-modified no-padding-bottom">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="video in videos">
                            <div class="embed-responsive embed-responsive-16by9 video-wrapper">
                                <img class="imgW" src="/modules/core/img/bg/bg.png"
                                     ng-click="openVideo(video.url)"/>
                                <youtube-video video-url="video.url" class="embed-responsive-item-preview"
                                               player-vars="playerVars"></youtube-video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>	
        <div class="well">
		<h2>About</h2>
		<p>
			Lol daily videos is a site that share some videos related to league of legend world .<br>
            If you want to send us your league of legend videos , please sign up. 
		</p>
	</div>
    </div>
	<br>© 2015 | All rights reserved.
	<script type="text/ng-template" id="firstDialog">
            <div class="embed-responsive embed-responsive-16by9 video-wrapper">
                    <youtube-video video-url="videoUrl" class="embed-responsive-item" player="player">
                    </youtube-video>
            </div>
	</script>
</section>
