.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.imgW{
    position: absolute;
    opacity: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 92%;
    z-index: 1000;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;

}
.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive-item-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding-bottom: 15px;
}
.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
@media only screen and (max-width : 480px){
    .container-modified{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }    .panel-modified{
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

}
.no-padding-bottom{
    padding-bottom: 0;
    margin-bottom: 0;
}
.no-padding-top{
    padding-top: -15px;
    margin-top: -15px;
}
.navbar-brand {
    color: #FFF !important;
}
.navbar-brand .lol{
    color: #B00000   !important;
    font-size: 30px !important;
}